{% extends "base.html" %}

{% block content %}
<h2>Parent View</h2>

<table>
    <tr>
        <td align="right" style="font-weight:bold">name:</td>
        <td>{{parent.name}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Email:</td>
        <td>{{parent.email}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">sex:</td>
        <td>{{sex[parent.sex]}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">DOB:</td>
        <td>{{parent.dob.strftime('%m-%d-%Y')}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">active:</td>
        <td>{{parent.is_active}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Income Amount:</td>
        <td>{{"${:,.2f}".format(parent.income_amount|float)}}</td>
    </tr>
</table>
<hr>
<a href="{{ url_for('config.parents') }}">cancel</a> | <a href="{{ url_for('config.parentedit', id=parent.id) }}">edit</a>
{% if not children %}
 | <a href="{{ url_for('config.parentedit', id=parent.id) }}">delete</a>
{% endif %}
<hr>
<h2>Audit List</h2>
{% if children %}
    <table>
        <thead>
            <td class="underline">Date/Time</td>
            <td class="underline">User</td>
            <td class="underline">Action</td>
            <td class="underline">Before</td>
            <td class="underline">After</td>
        </thead>
        {% for child in children %}
            <tr>
                <td><a href="{{ url_for('config.parentview', id=child.id) }}">
                    {{child.a_datetime.strftime('%Y-%m-%d %H:%M:%S')}}</a></td>
                <td>{{child.a_user}}</td>
                <td>{{child.action}}</td>
                <td>{{child.before|truncate(40)}}</td>
                <td>{{child.after|truncate(40)}}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <p>
        {% if prev_url %}
            <a href="{{ prev_url }}">prev</a>
        {% else %}
            prev
        {% endif %}
        |
        {% if next_url %}
            <a href="{{ next_url }}">next</a>
        {% else %}
            next
        {% endif %}
    </p>
{% else %}
    No Audit for this Parent
{% endif %}
{% endblock %}
