{% extends "base.html" %}

{% block content %}
<h2>Application Configuration</h2>
Application Configuration allows application administrators direct access to the key/value pairs that control how applications operate.
<p>
    <a href="{{ url_for('keyval.keyvallist') }}">KeyVal</a><p>
    <a href="{{ url_for('keyval.keyvallist') }}">envs</a><p>
    <a href="{{ url_for('app.applist') }}">apps</a><p>
<p>
    <a href="audit/auditview">Audit direct</a>
    <a href="{{ url_for('audit.auditview') }}">Audit via url_for</a><p>
</p>
{% endblock %}
