<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        {% if title %}
        <title>{{ title }} - c4h</title>
        {% else %}
        <title>c4h</title>
        {% endif %}

        <script type="text/javascript">
            function submitAddform()
            {
                document.AddForm.submit();
                return false;
            }

            function submitEditform()
            {
                document.EditForm.submit();
                return false;
            }
        </script>
    </head>
    <body>
        <div>
            <div style="float:left;">
                <a href="{{ url_for('parents') }}" style="text-decoration: none; font-size:32px;">c4h</a>
            </div>
            <div style="float:right;">
                <a href="{{ url_for('parents') }}">home</a> |
                <a href="{{ url_for('parents') }}">envs</a> |
                <a href="{{ url_for('parents') }}">apps</a> |
                <a href="{{ url_for('parents') }}">login</a>

            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messaged-ul">
                    {% for message in messages %}
                    <li class="messages-li">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
