{% extends "base.html" %}

{% block content %}
<h2>Parent View</h2>

<table>
    <tr>
        <td align="right" style="font-weight:bold">id:</td>
        <td>{{parent.id}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">name:</td>
        <td>{{parent.name}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Email:</td>
        <td>{{parent.email}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">sex:</td>
        <td>{{sex[parent.sex]}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">DOB:</td>
        <td>{{parent.dob.strftime('%m-%d-%Y')}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">tobacco user:</td>
        <td>{{parent.is_tobacco_user}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Income Amount:</td>
        <td>{{"${:,.2f}".format(parent.income_amount|float)}}</td>
    </tr>
</table>
<hr>
<td><a href="{{ url_for('parents') }}">cancel</a></td>

{% endblock %}
