{% extends "base.html" %}

{% block content %}
<h2>Parent List</h2>

<table>
    <thead>
        <td></td>
        <td class="underline">Name</td>
        <td class="underline">email</td>
        <td class="underline">Sex</td>
        <td class="underline">DOB</td>
        <td class="underline">Active</td>
        <td class="underline">Income Amount</td>
    </thead>
    {% for parent in parents %}
    <tr>
        <td><a href="{{ url_for('parentedit', id=parent.id) }}">edit</a></td>
        <td><a href="{{ url_for('parentview', id=parent.id) }}">{{parent.name}}</a></td>

        <td>{{parent.email}}</td>
        <td>{{sex[parent.sex]}}</td>
        <td>{{parent.dob.strftime('%m-%d-%Y')}}</td>
        <td>{{parent.is_active}}</td>
        <td align="right">{{ "${:,.2f}".format(parent.income_amount|float) }}</td>
    </tr>
    {% endfor %}

</table>
<hr>
<td><a href="{{ url_for('parentadd') }}">add</a></td>
<p>
    {% if prev_url %}
        <a href="{{ prev_url }}">prev</a>
    {% else %}
        prev
    {% endif %}
    |
    {% if next_url %}
        <a href="{{ next_url }}">next</a>
    {% else %}
        next
    {% endif %}
</p>
{% endblock %}
