{% extends "base.html" %}

{% block content %}
<h2>Parent View</h2>

<table>
    <tr>
        <td align="right" style="font-weight:bold">id:</td>
        <td>{{parent.id}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">name:</td>
        <td>{{parent.name}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Email:</td>
        <td>{{parent.email}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">sex:</td>
        <td>{{sex[parent.sex]}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">DOB:</td>
        <td>{{parent.dob.strftime('%m-%d-%Y')}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">tobacco user:</td>
        <td>{{parent.is_tobacco_user}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">Income Amount:</td>
        <td>{{"${:,.2f}".format(parent.income_amount|float)}}</td>
    </tr>
</table>
<hr>
<td><a href="{{ url_for('parents') }}">cancel</a></td> | <a href="{{ url_for('parentedit', id=parent.id) }}">edit</a>
<hr>
<h2>Child List</h2>
{% if children %}
    <table>
        <thead>
            <td></td>
            <td></td>
            <td class="underline">id</td>
            <td class="underline">Name</td>
        </thead>
        {% for child in children %}
        <tr>
            <td><a href="{{ url_for('parentedit', id=child.id) }}">edit</a></td>
            <td><a href="{{ url_for('parentview', id=child.id) }}">view</a></td>
            <td>{{child.id}}</td>
            <td>{{child.name}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>
        {% if prev_url %}
            <a href="{{ prev_url }}">prev</a>
        {% else %}
            prev
        {% endif %}
        |
        {% if next_url %}
            <a href="{{ next_url }}">next</a>
        {% else %}
            next
        {% endif %}
    </p>
{% else %}
    No Children for this Parent
{% endif %}
{% endblock %}
