{% extends "base.html" %}

{% block content %}
<h2>Parent List</h2>

<table>
    <thead>
        <td></td>
        <td></td>
        <td class="underline">id</td>
        <td class="underline">Name</td>
        <td class="underline">email</td>
        <td class="underline">Sex</td>
        <td class="underline">DOB</td>
        <td class="underline">Tobacco User</td>
        <td class="underline">Income Amount</td>
    </thead>
    {% for parent in parents %}
    <tr>
        <td><a href="{{ url_for('parentedit', id=parent.id) }}">edit</a></td>
        <td><a href="{{ url_for('parentview', id=parent.id) }}">view</a></td>
        <td>{{parent.id}}</td>
        <td>{{parent.name}}</td>
        <td>{{parent.email}}</td>
        <td>{{sex[parent.sex]}}</td>
        <td>{{parent.dob.strftime('%m-%d-%Y')}}</td>
        <td>{{parent.is_tobacco_user}}</td>
        <td>{{ "${:,.2f}".format(parent.income_amount|float) }}</td>
    </tr>
    {% endfor %}

</table>
<hr>
<td><a href="{{ url_for('parentadd2') }}">add</a></td>
{% endblock %}
