{% extends "base.html" %}

{% macro with_errors(field) %}
    <div class="form_field">
        <tr>
            {% if field.errors %}
                {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
                <td align="right" style="font-weight:bold">{{ field.label }}</td>
                <td>{{ field(class=css_class, **kwargs) }}</td>
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            {% else %}
                <td align="right" style="font-weight:bold">{{ field.label }}</td>
                <td>{{ field(**kwargs) }}</td>
            {% endif %}
        </tr>
    </div>
{% endmacro %}

{% block content %}
<h2>Parent Edit - {{form.id.data}}</h2>

<!--<form name="EditForm" method="POST">-->
<form name="EditForm" method="POST" action="{{ url_for('parentedit', id=form.id.data|int) }}">
    {{ form.csrf_token }}{{ form.hidden_tag() }}
    <table>
        <tr>
            <td align="right" style="font-weight:bold">id:</td>
            <td>{{form.id}}</td>
        </tr>
        {{ with_errors(form.name) }}
        {{ with_errors(form.email) }}
        {{ with_errors(form.sex) }}
        {{ with_errors(form.dob) }}
        {{ with_errors(form.is_tobacco_user) }}
        {{ with_errors(form.income_amount) }}
    </table>
</form>
<hr>
<p><a href="javascript:submitEditform()">save</a> | <a href="{{ url_for('parents') }}">cancel</a></p>
{% endblock %}
